<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/styles/newAndEditCars.css"" />
</head>
<body>
    <title>Add a vehicle</title>
    <a href="/" class="button"><button>Back to other cars</button></a>
    <div class="newCarDiv">
        <img src="https://i.pinimg.com/originals/d8/f3/14/d8f3142f3557e52527a45f4cbd2039f1.gif" alt="car drifting gif" class="newCarImg">
        <div>
            <form action ="/car" method="post" id="createForm">
                <input type="text" name="name" placeholder="car name" required />
                <br />
                <input type="text" name="description" placeholder="description" />
                <br />
                <input type="text" name="img" placeholder="image link"/>
                <br />
                <input type="number" name="price" placeholder="enter price" />
                <br />
                <button type="submit">Add Car</button>
            </form>
        </div>
    </div>
</body>
</html>
