@media(max-width:799px){
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #343645;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ffffff;
}

header nav a {
  padding: 7px 17px;
  font-size: 2rem;
  color: #ffffff;
  border-radius: 3px;
  letter-spacing: 0.5px; 
}

header nav a:hover,
header nav a.active {
  background: #ffffff;
  color: #343645;
  transition: 0.5s ease-out;
  letter-spacing: 7px;
}
body {
  background: #343645;
}
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:nth-child(1) {
  color: #ffffff;
}

section:nth-child(2) {
  color: #343645;
  background: #ffffff;
}

section:nth-child(3) {
  color: #ffffff;
}

section:nth-child(4) {
  color: #343645;
  background: #ffffff;
}

section:nth-child(5) {
  color: #000000;
}

section .container {
  margin: 100px;
}

section h1 {
  font-size: 2rem;
  margin: 20px;
}

.quote {
  font-size: 30px;
  text-align: center;
  font-style: italic;
  padding-bottom: 4%;
}

section .text-container {
  display: flex;
}

section .text-container .text-box {
  margin: 25px;
  padding: 20px;
  background: #fdfdfd;
}

section .text-container .text-box h3 {
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.car-Card h4 {
  padding-bottom: 4%;
  text-align: center;
  text-decoration: none;
  color:black;
} 

.location-card h4 {
  padding-bottom: 4%;
  text-align: center;
  text-decoration: none;
  color:black;
} 

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1.5s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1.5;
}

#flex-container {
    display: flex;   
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
}

.location-card {
  padding: 10px; 
  color:black;
  width: 100%;
  justify-content: space-between;
  border: 5px solid rgb(0, 0, 0);
  text-align: justify;
  width: 100%;
}

.location-card img {
  display: block;
  margin: 0 auto;
  padding-bottom: 3%;
}

.car-Card {
  padding: 10px; 
  color:black;
  width: 100%;
  justify-content: space-between;
  border: 5px solid rgb(0, 0, 0);
  text-align: justify;
  width: 100%;
} 

.car-Card img {
display: block;
margin: 0 auto;
}

.newLocationImage {
    max-width: 600px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 08px 16px;
    text-align: center;
    font-size: 14px;
    border: 5px solid rgb(0, 0, 0);
    box-shadow: 12px 12px 12px rgb(0, 0, 0);
    border-radius: 11px;
} 

button {
  display: block;
  margin: 0 auto;
}

/* implemented css button animation from https://dev.to/webdeasy/top-20-css-buttons-animations-f41 */
.addLocationButton {
  width: 100px;
  height: 39px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.addLocationButton:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #ff9500, #f4ffef, #ffffff, #dbe1ff, #717171, #555555, #010101);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.addLocationButton:active {
  color: rgb(255, 255, 255)
}

.addLocationButton:active:after {
  background: transparent;
}

.addLocationButton:hover:before {
  opacity: 1;
}

.addLocationButton:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
}

.btn {
width: 150px;
height: 50px;
border: 1px solid #333;
font-family: 'Cinzel', serif;
font-size: 20px;
cursor: pointer;
-webkit-tap-highlight-color: transparent;
display: flex;
align-items: center;
justify-content: center;
position: relative;
z-index: 0;
transition: 1s;
}

.btn::before, .btn::after {
position: absolute;
background: #eee;
z-index: -1;
transition: 1s;
content: '';
}

.btn::before {
height: 50px;
width: 130px;
}

.btn::after {
width: 150px;
height: 30px;
}

.noselect {
-webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn:hover::before {
width: 0px;
background: #fff;
}

.btn:hover::after {
height: 0px;
background: #fff;
}

.btn:hover {
background: #fff;
}

footer {
  display: block;
  text-align: center;
  padding-bottom: 6%;
}

.footIcons {
    width: 15%;
    border-radius: 15%;
    border: 4px solid rgb(0, 0, 0);
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

.cars-list-text {
  text-align: justify;
}

.cars-list-text img {
  display:block;
  margin: 0 auto;
}

#roadPageTitle {
    text-align: center;
    color: black;
}

#titleImg {
    object-fit: cover;  
    width: 100%;
    align-items: center;
}

.pageTitles {
  padding-bottom: 1%;
  color :white;
}


.carSectionImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
}

h5 {
  font-size: 10px;
}

.carDescriptions {
  margin: 0 auto;
}

.locationDescriptions {
  margin: 0 auto;
}

/* implemented css border animation from https://codepen.io/Huhtamaki/pen/GPzwPY */

.mainCarBlock {
	position: relative;
	background: linear-gradient(0deg, rgb(255, 255, 255), #ffffff);
  color: white;
}

.mainCarBlock:before, .mainCarBlock:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #000000, #3c3c3c, #6c6c6c,#e26246, #ff0000, #fb0000, 
		#ff9c9c, #ffdada,#ffffff, #ffffff);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.mainCarBlock:after {
	filter: blur(50px);
}

/* ------------------------------------------------------------------------------------------------------- */

@media(min-width:800px){
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #0a0a0a;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ffffff;
}

header nav a {
  padding: 10px 20px;
  font-size: 2rem;
  color: #ffffff;
  border-radius: 5px;
  letter-spacing: 0.5px;
}

header nav a:hover,
header nav a.active {
  background: #ffffff;
  color: #000000;
  transition: 0.5s ease-out;
  letter-spacing: 2px;
}

body {
  background: #000000;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:nth-child(1) {
  color: #ffffff;
}

section:nth-child(2) {
  color: #000000;
  background: #ffffff;
}

section:nth-child(3) {
  color: #ffffff;
}

section:nth-child(4) {
  color: #000000;
  background: #ffffff;
}

section:nth-child(5) {
  color: #000000;
}

section .container {
  margin: 100px;
}

section h1 {
  font-size: 3rem;
  margin: 20px;
}

.quote {
  font-size: 30px;
  text-align: center;
  font-style: italic;
  padding-bottom: 4%;
}



section .text-container {
  display: flex;
}

section .text-container .text-box {
  margin: 20px;
  padding: 20px;
  background: #fdfdfd;
}

section .text-container .text-box h3 {
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
  
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1.5s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1.5;
} 

.location-card {
  display: flex;
  margin: 0 auto;
  padding: 10px;
  color:rgb(0, 0, 0);
  width: 100%;
  justify-content: space-between;
  border: 2px ridge rgb(0, 0, 0);
}

.location-card img {
  padding-right: 10%;
}
  
.car-Card {
  display: flex;
  margin: 0 auto;
  padding: 10px; 
  color:rgb(0, 0, 0);
  width: 100%;
  justify-content: space-between;
  border: 2px ridge rgb(0, 0, 0);
} 
  
.car-Card img {
   padding-right: 10%;
   max-width: 100%;
} 
  
.car-Card h4 {
  padding-bottom: 3%;
  text-align: center;
  width: 90%;
  text-decoration: none;
  color:black;
}
} 

.newLocationImage {
    max-width: 600px;
}
  
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 08px 16px;
  text-align: center;
  font-size: 14px;
  border: 5px solid rgb(0, 0, 0);
  box-shadow: 12px 12px 12px rgb(0, 0, 0);
  border-radius: 11px;
} 
  
footer {
  display: block;
  text-align: center;
  padding-bottom: 6%;
}
  
.footIcons {
    width: 5%;
    border-radius: 15%;
    border: 4px solid rgb(0, 0, 0);
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}
  
#carPageTitle {
    color: white;
    text-align: center
}

#roadPageTitle {
    text-align: center;
    color: black;
}
  
#titleImg {
  object-fit: cover;  
  width: 100%;
  align-items: center;
  margin:0 auto;
}

.pageTitles {
  padding-bottom: 1%;
  color :white;
  justify-content: center;
  text-align: center;
  align-items: center;
}
  
button {
  display: block;
  margin: 0 auto;
}
/* implemented css button animation from https://dev.to/webdeasy/top-20-css-buttons-animations-f41 */
.addLocationButton {
    width: 100px;
    height: 35px;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.addLocationButton:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #ff9500, #f4ffef, #ffffff, #dbe1ff, #717171, #555555, #010101);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.addLocationButton:active {
    color: rgb(255, 255, 255)
}

.addLocationButton:active:after {
    background: transparent;
}

.addLocationButton:hover:before {
    opacity: 1;
}

.addLocationButton:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


.btn {
  width: 150px;
  height: 50px;
  border: 1px solid #333;
  font-family: 'Cinzel', serif;
  font-size: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
}

.btn::before, .btn::after {
  position: absolute;
  background: #eee;
  z-index: -1;
  transition: 1s;
  content: '';
}

.btn::before {
  height: 50px;
  width: 130px;
}

.btn::after {
  width: 150px;
  height: 30px;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.btn:hover::before {
  width: 0px;
  background: #fff;
}

.btn:hover::after {
  height: 0px;
  background: #fff;
}

.btn:hover {
  background: #fff;
}

.location-card h4 {
    padding-bottom: 4%;
    text-align: center;
    width: 90%;
    text-decoration: none;
    color:black;
}

.car-Card h5 {
  padding-top: 4%;
  text-align: center;
  width: 50%;
  padding-bottom: 1%;
  font-size: 14px;
}

.location-card h5 {
    padding-top: 4%;
    text-align: center;
    width: 50%;
    padding-bottom: 1%;
    font-size: 14px;
}
  
.carSectionImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
}
  
.roadSectionImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 55%;
} 

.carDescriptions {
  margin: 0 auto;
}

.locationDescriptions {
  margin: 0 auto;
}

.car-Card {
  text-align: justify;
  width: 100%;
}

.car-Card img {
  display: block;
  margin: 0 auto;
}

/* implemented css border animation from https://codepen.io/Huhtamaki/pen/GPzwPY */

.mainCarBlock {
	position: relative;
	background: linear-gradient(0deg, rgb(255, 255, 255), #ffffff);
  color: white;
}

.mainCarBlock:before, .mainCarBlock:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #000000, #3c3c3c, #6c6c6c,#e26246, #ff0000, #ff0000, 
		#ff9c9c, #ffdada,#ffffff, #ffffff);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.mainCarBlock:after {
	filter: blur(50px);
}

  