@media(max-width:799px){
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #343645;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ffffff;
}

header nav a {
  padding: 7px 17px;
  font-size: 2rem;
  color: #ffffff;
  border-radius: 3px;
  letter-spacing: 0.5px; 
}

header nav a:hover,
header nav a.active {
  background: #ffffff;
  color: #343645;
  transition: 0.5s ease-out;
  letter-spacing: 11px;
}
body {
  background: #343645;
}
section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:nth-child(1) {
  color: #ffffff;
}

section:nth-child(2) {
  color: #343645;
  background: #ffffff;
}

section:nth-child(3) {
  color: #ffffff;
}

section:nth-child(4) {
  color: #343645;
  background: #ffffff;
}

section:nth-child(5) {
  color: #000000;
}

section .container {
  margin: 100px;
}

section h1 {
  font-size: 2rem;
  margin: 20px;
}

section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

section .text-container {
  display: flex;
}

section .text-container .text-box {
  margin: 25px;
  padding: 20px;
  background: #fdfdfd;
}

section .text-container .text-box h3 {
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.car-Card h4 {
  padding-bottom: 3%;
  text-align: center;
} 

.location-card h4 {
  padding-bottom: 3%;
  text-align: center;
} 

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1.5s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1.5;
}

#flex-container {
    display: flex;   
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
}

.location-card {
  padding: 10px; 
  color:black;
  width: 100%;
  justify-content: space-between;
  border: 5px solid rgb(0, 0, 0);
  text-align: justify;
  width: 100%;
}

.location-card img {
  display: block;
  margin: 0 auto;
  padding-bottom: 3%;
}

.car-Card {
  padding: 10px; 
  color:black;
  width: 100%;
  justify-content: space-between;
  border: 5px solid rgb(0, 0, 0);
  text-align: justify;
  width: 100%;
} 

.car-Card img {
display: block;
margin: 0 auto;
}

.newLocationImage {
    max-width: 600px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 08px 16px;
    text-align: center;
    font-size: 14px;
    border: 5px solid rgb(0, 0, 0);
    box-shadow: 12px 12px 12px rgb(0, 0, 0);
    border-radius: 11px;
} 

button {
  display: block;
  margin: 0 auto;
}

footer {
    padding: 3% 0% 2% 0%;
    text-align: center;
}

.footIcons {
    width: 10%;
    border-radius: 15%;
    border: 4px solid rgb(0, 0, 0);
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

.cars-list-text {
  text-align: justify;
}

.cars-list-text img {
  display:block;
  margin: 0 auto;
}

#roadPageTitle {
    text-align: center;
    color: black;
}

#titleImg {
    object-fit: cover;  
    width: 100%;
    align-items: center;
}

.pageTitles {
  padding-bottom: 1%;
  color :white;
}


.carSectionImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
}

.roadSectionImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
} 

h5 {
  font-size: 10px;
}

.carDescriptions {
  margin: 0 auto;
}

.locationDescriptions {
  margin: 0 auto;
}
}



/* ------------------------------------------------------------------------------------------------ */

@media(min-width:800px){
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #343645;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ffffff;
}

header nav a {
  padding: 10px 20px;
  font-size: 2rem;
  color: #ffffff;
  border-radius: 5px;
  letter-spacing: 0.5px;
}

header nav a:hover,
header nav a.active {
  background: #ffffff;
  color: #343645;
  transition: 0.5s ease-out;
  letter-spacing: 2px;
}

body {
  background: #343645;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:nth-child(1) {
  color: #ffffff;
}

section:nth-child(2) {
  color: #343645;
  background: #ffffff;
}

section:nth-child(3) {
  color: #ffffff;
}

section:nth-child(4) {
  color: #343645;
  background: #ffffff;
}

section:nth-child(5) {
  color: #000000;
}

section .container {
  margin: 100px;
}

section h1 {
  font-size: 3rem;
  margin: 20px;
}

section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

section .text-container {
  display: flex;
}

section .text-container .text-box {
  margin: 20px;
  padding: 20px;
  background: #fdfdfd;
}

section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
  
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1.5s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1.5;
} 

.location-card {
  display: flex;
  margin: 0 auto;
  padding: 10px;
  color:black;
  width: 100%;
  justify-content: space-between;
  border: 5px solid rgb(0, 0, 0);
}

.location-card img {
  padding-right: 10%;
}
  
.car-Card {
  display: flex;
  margin: 0 auto;
  padding: 10px; 
  color:black;
  width: 100%;
  justify-content: space-between;
  border: 5px solid rgb(0, 0, 0);
} 
  
.car-Card img {
   padding-right: 10%;
   max-width: 100%;
} 
  
.car-Card h4 {
  padding-bottom: 3%;
  text-align: center;
  width: 90%;
} 

.newLocationImage {
    max-width: 600px;
}
  
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 08px 16px;
  text-align: center;
  font-size: 14px;
  border: 5px solid rgb(0, 0, 0);
  box-shadow: 12px 12px 12px rgb(0, 0, 0);
  border-radius: 11px;
} 
  
footer {
    padding: 3% 0% 2% 0%;
    text-align: center;
}
  
.footIcons {
    width: 5%;
    border-radius: 15%;
    border: 4px solid rgb(0, 0, 0);
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}
  
#carPageTitle {
    color: white;
    text-align: center
}

#roadPageTitle {
    text-align: center;
    color: black;
}
  
#titleImg {
  object-fit: cover;  
  width: 100%;
  align-items: center;
  margin:0 auto;
}

.pageTitles {
  padding-bottom: 1%;
  color :white;
  justify-content: center;
  text-align: center;
  align-items: center;
}
  
button {
  display: block;
  margin: 0 auto;
}

.btn {
  width: 150px;
  height: 50px;
  border: 1px solid #333;
  font-family: 'Cinzel', serif;
  font-size: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
}

.btn::before, .btn::after {
  position: absolute;
  background: #eee;
  z-index: -1;
  transition: 1s;
  content: '';
}

.btn::before {
  height: 50px;
  width: 130px;
}

.btn::after {
  width: 150px;
  height: 30px;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.btn:hover::before {
  width: 0px;
  background: #fff;
}

.btn:hover::after {
  height: 0px;
  background: #fff;
}

.btn:hover {
  background: #fff;
}

.location-card h4 {
    padding-bottom: 4%;
    text-align: center;
    width: 90%;
}

.car-Card h5 {
  padding-top: 4%;
  text-align: center;
  width: 50%;
  padding-bottom: 1%;
}

.location-card h5 {
    padding-top: 4%;
    text-align: center;
    width: 50%;
    padding-bottom: 1%;
}
  
.carSectionImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
}
  
.roadSectionImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 55%;
} 

.carDescriptions {
  margin: 0 auto;
}

.locationDescriptions {
  margin: 0 auto;
}

.car-Card {
  text-align: justify;
  width: 100%;
}

.car-Card img {
  display: block;
  margin: 0 auto;
}
}
  
  